body {
    margin: 0;
    background-image: url(../images/mainpage_background.jpg);
    background-size: 1440px 800px;
    background-color: #01002E;
    background-repeat: no-repeat;
    display: compact;
    font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.panel-default > .panel-heading-custom {
    background: #c8daf7;
    color: #fff;
}




